<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Outra View</h1>
    <p> Twitter @@rodolfofadino</p>
</body>
</html>
